[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autoflake = "*"
autopep8 = "*"

[packages]
telethon = "*"
pyyaml = "*"
steam = "*"
cachetools = "*"

[requires]
python_version = "3.8"
